<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>botanique</title>
    <link type="text/css" rel="stylesheet" href="../styles/normalize.css"/>
    <link rel="stylesheet" href="../styles/style.css"/>
    <script src="../scripts/custom.js"></script>
</head>
<body>
<div class="nav">
    <header class="navbar">
        <a href="/"><img class="logo" alt="botanique" src="../images/logo.svg"></a>
        <div class="pagesSelector">
            <div class="selected">
                <a class="navLink" href="/">Главная
                </a>
                <div class="line"></div>
            </div>

            <a class="navLink" href="/analytics/0">Аналитика</a>
        </div>
        <a href="/error"><img class="userAvatar" alt="Профиль" src="../images/avatar.svg"></a>
    </header>
</div>
<div class="search">
    <input class="searchBar" type="text"
           placeholder="Поиск прибора в Botanique по номеру, названию, подразделению и др."
           value=""
           id="searchInput">
    <a href="/error"><img class="qrScan" src="../images/qr_code.svg"></a>
</div>
<div class="table">
    <div class="TableNaming"><img class="tableNamingImg" alt="❤" src="../images/heart.svg">&nbsp;Любимые приборы</div>
    <table class="spreadsheet">
        <tr class="header">
            <th></th>
            <th>Название</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <% if (equip.length) { %>
            <% equip.forEach(({id, name, img, status}) => { %>
                <tr class="trow">
                    <td><a class="nameEquip" href="/analytics/<%= id-1 %>"><img src='<%= img %>'></a></td>
                    <td>
                        <a class="nameEquip" href="/analytics/<%= id-1 %>" id="nameOfEquip"><%= name %></a>
                    </td>
                    <td><select class="drop" name="dropdown">
                            <option value="free" selected><%= status %></option>
                        </select></td>
                    <td><a onclick="changeNotifications(document.getElementById('<%= id %>'))"><img id="<%= id %>"
                                                                                                    src="../images/notice.svg"></a>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </table>
</div>
</body>
</html>